body {
    overflow-x: hidden;
}

.appLayout {
    margin-top: 69px;
}

.rowContent {
    min-height: calc(100vh - 69px)
}

.mainHeader {
    font-size: 20px;
    font-weight: 1000;
    padding-right: 10px;
}

.mainButtons {
    flex-grow: 1;
}
